* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem; /* best to use rem with font sizes */
  line-height: 1.2;
  margin: 0;
  margin-bottom: 3rem;
}

header {
  border-bottom: 8px solid hsl(0deg 0% 60%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.intro-chunk {
  max-width: 415px;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

strong {
  color: hsl(160deg 100% 30%);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1rem;
}
/* this removes any awkward extra space at the end of the last paragraph */
p:last-child {
  margin-bottom: 0;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
  padding: 64px 0;
}

.card {
  background-color: white;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid hsl(0deg 0% 60%);
}

.indented-heading {
  background: hsla(45, 100%, 50%, 1);
  border-bottom: solid 8px hsla(45, 100%, 40%, 1);
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem; /* this is in rem so that it stays the same proportionally to the font size */
  width: fit-content;
  font-size: 1.5rem;
  line-height: 1.2;
}
